<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/animation.css" rel="stylesheet" />
</head>
<body>
    <div class="text-center container" id="home_logo">
        <img style="max-width:400px" src="~/images/scope-india-logo-home-page.png" />
    </div>
    <br />
</body>
</html>