<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/aboutus.css" rel="stylesheet" />
</head>
<body>
    <div class="text-center card-body" id="container">
        <h1>SCOPE INDIA, your career partner!</h1><br />
        <h3>One of the best Training Destination for Software, Networking and Cloud Computing courses in India with 17 years of Industrial experience.</h3><br />
        <div id="5star" class="container-fluid">
            <img style="max-width:400px" class="img-fluid" src="~/images/5star.png" /><br>
            <h5>Google 4.9 * Rated Institute</h5>
        </div><br />
        <p>Software, Networking, and Cloud Professional Education Centre in Kerala from Suffix E Solutions with WORKING PROFESSIONALS oriented on-the-job TRAINING model. SCOPE INDIA provides courses for Software Programming in Python (Data Science | Artificial Intelligence | Machine Learning | Deep Learning, Data Analytics), Java, PHP, .Net, Software Testing Manual and Automation, Cloud Computing (AWS | Azure), Server Administration (MCSE | RHCE), Networking (CCNA), Mobile App Development in Flutter, and Digital Marketing. Training with 100% Trusted Job Based Internship Model. SCOPE INDIA has a Strong Placement Cell that provides jobs to thousands of students every year. We assure you, you won't regret it after training from SCOPE INDIA!</p><br />
        <p>
            This is how SCOPE INDIA can support both newbies and experienced in the industry to upgrade their skills.
        </p>
    </div>
</body>
</html>


