html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
/*    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
*/    background-image: url('../images/solid-light-blue-wide-wallpaper.jpg');
    background-size: cover;
    margin-bottom: 60px;
    font-size: 20px;
    padding: 10px 10px;
}

#logo {
    max-width: 50px;
}

#head a {
    font-weight: 400;
    padding: 10px 10px;
    text-align: center;
}
