@model ScopeIndiaWebsite.Models.FirstTimeLogin;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        #FG {
            margin-top: 50px;
        }
    </style>

</head>
<body>
    <div class="col-md-5 card-header" id="FG">
        <div class="">
            <h1 class=" text-center text-dark">Forgot Password</h1>
        </div>
        <div class="card-body">
            <form asp-action="ForgotPassword" method="post">
                <div class="row">
                    <div class="form-group">
                        <div class="">
                            <label asp-for="Email" class="label-control">Email</label>
                            <input type="email" placeholder="Enter email address" asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email"></span>
                            <p class="text-danger">@ViewBag.Mes</p>
                        </div>
                    </div>
                </div><br />
                <div>
                    <button type="submit" class="btn  btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
    @section Scripts {
        @await Html.PartialAsync("/Views/Shared/_ValidationScriptsPartial.cshtml")
    }
</body>
</html>