@model ScopeIndiaWebsite.Models.FirstTimeLogin;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <div class="col-md-4 card-header">
        <div class="">
            <h1 class=" text-center text-dark">Password creation</h1>
        </div>
        <div class="card-body">
            <form asp-action="PasswordCreation" method="post">
                <div class="row">
                    <div class="form-group">
                        <div class="">
                            <input type="password" placeholder="Enter your  password" asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password"></span>
                        </div>
                    </div>
                </div><br />
                <div>
                    <button type="submit" class="btn  btn-outline-success">Create</button>
                </div>
            </form>
        </div>
    </div>
    @section Scripts {
        @await Html.PartialAsync("/Views/Shared/_ValidationScriptsPartial.cshtml")
    }


</body>
</html>